In [92]:
#Answer1(part1)

In [94]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [96]:
data = {
    'Car_Type': ['Sedan', 'SUV', 'Hatchback', 'SUV'],
    'Price': [30000, 40000, 25000, 45000]
}
df = pd.DataFrame(data)
print("Orignal data")
df

Orignal data

    Car_Type  Price
0      Sedan  30000
1        SUV  40000
2  Hatchback  25000
3        SUV  45000

In [98]:
one_hot = pd.get_dummies(df, columns=['Car_Type'], dtype=int)
print(one_hot)
print('Car_Type_hatchback, SUV, Sedan, these are the three new columns which represent where 1 is placed, that\'s mean the presence of that car type, and 0 indicates its absence.')

   Price  Car_Type_Hatchback  Car_Type_SUV  Car_Type_Sedan
0  30000                   0             0               1
1  40000                   0             1               0
2  25000                   1             0               0
3  45000                   0             1               0
Car_Type_hatchback, SUV, Sedan, these are the three new columns which represent where 1 is placed, that's mean the presence of that car type, and 0 indicates its absence.

In [100]:
#Answer2
one_hot_drop = pd.get_dummies(df, columns=['Car_Type'], drop_first= True, dtype= int)
print(one_hot_drop)
print('it allows you to compare each category relative to the reference category.')

   Price  Car_Type_SUV  Car_Type_Sedan
0  30000             0               1
1  40000             1               0
2  25000             0               0
3  45000             1               0
it allows you to compare each category relative to the reference category.

In [102]:
#Answer3
print('Multicollinearity is defined as when two or more columns are releated with each other or repeated in a single data set because of this the variable provided similar information and its creat an issue in large ammount of data because in the large amount of data the similar infornmation produce a confusion and its time cunsuming as well')

Multicollinearity is defined as when two or more columns are releated with each other or repeated in a single data set because of this the variable provided similar information and its creat an issue in large ammount of data because in the large amount of data the similar infornmation produce a confusion and its time cunsuming as well

In [104]:
#Answer4(part 2)
data = {
    'Size': ['Small', 'Medium', 'Large', 'Medium'],
    'Price': [10, 20, 30, 25]
}
df = pd.DataFrame(data)
print("orignal data")
print(df)

orignal data
     Size  Price
0   Small     10
1  Medium     20
2   Large     30
3  Medium     25

In [106]:
label_encoder = LabelEncoder()
df['Size_Encoded'] = label_encoder.fit_transform(df['Size'])
print("After changes")
print(df)
print('Small=2,Medium=1,Large=0, label encoder assigned value due to alphabatical order beacuse in labelencoder order is neccessary')

After changes
     Size  Price  Size_Encoded
0   Small     10             2
1  Medium     20             1
2   Large     30             0
3  Medium     25             1
Small=2,Medium=1,Large=0, label encoder assigned value due to alphabatical order beacuse in labelencoder order is neccessary

In [108]:
#Answer5
data = {
    'Size': ['Small', 'Medium', 'Large']    
}
df = pd.DataFrame(data)
print('orignal data')
print(df)

orignal data
     Size
0   Small
1  Medium
2   Large

In [110]:
size_order = {'Small':0, 'Medium':1,'Large':2}
df['Encoded_size'] = df['Size'].map(size_order)
print('Encoded_size')
print(df)
print('Mapping is sometimes better than labelencoder because mapping is directly visible to the code and it easier to understand for other person and its make program or problem responsive')

Encoded_size
     Size  Encoded_size
0   Small             0
1  Medium             1
2   Large             2
Mapping is sometimes better than labelencoder because mapping is directly visible to the code and it easier to understand for other person and its make program or problem responsive

In [112]:
#Answer6(part3)
print('scenario1,\n All the colors of car  are categorical and have no authentic order and this would be appropriate one_hot_encoding\n Scenario2,\n Education levels have a clear ordinal related and tis would be appropriate to label_encoding\n Scenario3,\n City names are categorical with no perfect order. tis would be appropriate to One-Hot_encoding\n  Senario4\n this would be appropriate label_encoding Temperature categories have an ordinal relationship (Cold < Warm < Hot)')

scenario1,
 All the colors of car  are categorical and have no authentic order and this would be appropriate one_hot_encoding
 Scenario2,
 Education levels have a clear ordinal related and tis would be appropriate to label_encoding
 Scenario3,
 City names are categorical with no perfect order. tis would be appropriate to One-Hot_encoding
  Senario4
 this would be appropriate label_encoding Temperature categories have an ordinal relationship (Cold < Warm < Hot)

In [114]:
#Answer7(part2)
data = {
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red'],
    'Size': ['Small', 'Large', 'Medium', 'Medium', 'Small'], 
    'Price': [150, 200, 180, 220, 160],  
    'Rating': [4.5, 3.8, 4.1, 4.7, 3.9]  
}
df = pd.DataFrame(data)
print("Original data")
print(df)

Original data
   Color    Size  Price  Rating
0    Red   Small    150     4.5
1   Blue   Large    200     3.8
2  Green  Medium    180     4.1
3   Blue  Medium    220     4.7
4    Red   Small    160     3.9

In [116]:
label_encoder=LabelEncoder()
df["Label_Encoded_Size"] = label_encoder.fit_transform(df["Size"])
df = pd.get_dummies(df,columns = ["Color","Price","Rating"],dtype=int)
print(df)

     Size  Label_Encoded_Size  Color_Blue  Color_Green  Color_Red  Price_150  \
0   Small                   2           0            0          1          1
1   Large                   0           1            0          0          0
2  Medium                   1           0            1          0          0
3  Medium                   1           1            0          0          0
4   Small                   2           0            0          1          0

   Price_160  Price_180  Price_200  Price_220  Rating_3.8  Rating_3.9  \
0          0          0          0          0           0           0
1          0          0          1          0           1           0
2          0          1          0          0           0           0
3          0          0          0          1           0           0
4          1          0          0          0           0           1

   Rating_4.1  Rating_4.5  Rating_4.7
0           0           1           0
1           0           0           0
2           1           0           0
3           0           0           1
4           0           0           0